[submodule "faster_lio"]
	path = faster_lio
	url = git@github.com:XGC-Team/xgc2-faster-lio.git
	branch = main
[submodule "temp/fast_lio"]
	path = temp/fast_lio
	url = git@github.com:XGC-Team/xgc2-fast-lio.git
	branch = main
[submodule "temp/lio_sam"]
	path = temp/lio_sam
	url = git@github.com:XGC-Team/xgc2-lio-sam.git
	branch = master
[submodule "temp/point_lio"]
	path = temp/point_lio
	url = git@github.com:XGC-Team/xgc2-point-lio.git
	branch = point-lio-with-grid-map
[submodule "temp/swarm_lio2"]
	path = temp/swarm_lio2
	url = git@github.com:XGC-Team/xgc2-swarm-lio2.git
	branch = main
[submodule "temp/voxel_slam"]
	path = temp/voxel_slam
	url = git@github.com:XGC-Team/xgc2-voxel-slam.git
	branch = main
